.container {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card-hero-stats {
  margin-left: 10px;
  font-size: 25px;
}

.card-header img {
  height: 230px;
  width: 230px;
}

.card-body h3 {
  align-items: center;
}

.hero-preview {
  background: #ffffff;
  width: 70px;
  height: 70px;
  margin-left: 5px;
  border-radius: 50px;
}

.stat0 {
  color: rgb(248, 81, 39);
}
.stats {
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #536976,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
